#Console {
    margin: 0;
    padding: 10px;
    border: 2px solid #ddd;
    background: #eee;
    width: 500px;
    max-height: 300px;
    overflow: auto;
}

.panel {
    border: 2px solid #efefef;
    padding: 10px;
    margin: 0 10px 0 0;
}