<h3>Overview</h3>
<p>The following diagram shows an overview of the JavaScript Core Framework classes.</p>
<img src="assets/images/sdk7.jpg"/>
<p>Note: The green packages are an example App included to illustrate how the JSCore classes are used and are not part of the framework themselves.<br/><br/>JSCore classes are divided into a collection of namespaced modules as shown on the left.</p>
