<div id="modules" class="sidebox">
    <div class="hd">
        <h2 class="no-toc">Modules <span style="float:right;">{{projectVersion}}</span></h2>
    </div>
    <div class="bd">
        <ul>
            {{#printClasses classes projectRoot}}
            {{/printClasses}}
        </ul>
    </div>
</div>